@Scatterer_sunflare:FOR[Distantfrontiers]
{

	Onrefni
	{
		syntaxVersion = 2
		flareColor = 0.956, 0.882, 0.843
		flares
		{
			Item
			{
				texture = Distantfrontiers/PluginData/PlanetFlare.png
				displayAspectRatio = 1
				scaleCurve
				{
    					key = 1.0E+00 12.000 -1.2E+01 -1.2E+01
    					key = 5.0E+00 2.700 -5.0E-01 -5.0E-01
    					key = 1.0E+01 1.350 -1.3E-01 -1.3E-01
    					key = 5.0E+01 0.285 -5.0E-03 -5.0E-03
    					key = 1.0E+02 0.150 -1.3E-03 -1.3E-03
    					key = 2.5E+02 0.070 -2.0E-04 -2.0E-04
    					key = 5.0E+02 0.042 -5.0E-05 -5.0E-05
    					key = 7.5E+02 0.032 -2.5E-05 -2.5E-05
    					key = 1.0E+03 0.027 -1.5E-05 -1.5E-05
    					key = 5.0E+03 0.013 -8.0E-07 -8.0E-07
    					key = 1.0E+04 0.010 -3.0E-07 -0.0E+00
    					key = 5.0E+04 0.010 -0.0E+00 -0.0E+00
    					key = 1.0E+05 0.010 -0.0E+00 -8.0E-09
    					key = 5.0E+05 0.000 -8.0E-09 -0.0E+00
				}
				intensityCurve
				{
    					key = 0   0.0 0.0E+00 0.0E+00
    					key = 450 0.0 0.0E+00 2.5E-03
    					key = 750 0.7 2.5E-03 2.5E-04
    					key = 1800 1.0 2.5E-04 0.0E+00
				}
			}
		}
	}
    Lxtal
    {
        syntaxVersion = 2
        flareColor = 1.0, 0.95, 0.75
        #../Onrefni/flares{}
    }
    Nerous
    {
        syntaxVersion = 2
        flareColor = 0.6, 0.85, 1.0
        #../Onrefni/flares{}
    }
    Hyphsts
    {
        syntaxVersion = 2
        flareColor = 1.0, 0.7, 0.55
        #../Onrefni/flares{}
    }
    Elirz
    {
        syntaxVersion = 2
        flareColor = 0.8, 0.9, 1.0
        #../Onrefni/flares{}
    }
    Babel
    {
        syntaxVersion = 2
        flareColor = 0.75, 0.85, 1.0
        #../Onrefni/flares{}
    }
    Hyge
    {
        syntaxVersion = 2
        flareColor = 0.7, 0.9, 1.0
        #../Onrefni/flares{}
    }
    Jemer
    {
        syntaxVersion = 2
        flareColor = 0.25, 0.25, 0.25
        #../Onrefni/flares{}
    }
    Meago
    {
        syntaxVersion = 2
        flareColor = 0.76, 0.36, 0.21
        #../Onrefni/flares{}
    }
    Rurhe
    {
        syntaxVersion = 2
        flareColor = 0.36, 0.36, 0.61
        #../Onrefni/flares{}
    }
    Awar
    {
        syntaxVersion = 2
        flareColor = 0.36, 0.36, 0.61
        #../Onrefni/flares{}
    }
    Liyine
    {
        syntaxVersion = 2
        flareColor = 0.36, 0.36, 0.61
        #../Onrefni/flares{}
    }
    Lejhcy
    {
        syntaxVersion = 2
        flareColor = 0.36, 0.36, 0.61
        #../Onrefni/flares{}
    }
}